<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS-Project</title>
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <div class="h_navbar">
        <li class="li_item"><a class="nav_link" href="/">Home</a></li>
        <li class="li_item"><a class="nav_link" href="/customer">Customer</a></li>
        <li class="li_item"><a class="nav_link" href="/admin">Admin</a></li>
    </div>
    <div class="h_container">
        <div class="h_title">Tour Package Management System</div>
    </div>
</body>
</html>